<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/index.css")
    body
        h1 mi titulo
        ul
            li
                a hola

        h1 mi titulo ddos 
        h3 mi titulo h3
        h4 soy el h4
        h5 soy a5